<h3>Applicant: Christian Ian Cuya</h3>
<br>
<p>Development stack:</p>
<ul>
  <li>.net core</li>
  <li>angular</li>
  <li>clean architecture</li>
  <li>cqrs</li>
  <li>fluentvalidation</li>
</ul>
<p>Commands that i used during the development:</p>
<ul>
  <li><strong>npm start</strong>. For running the angular application</li>
  <li><strong>ng g component </strong>. For creating a new component.</li>
  <li><strong>ng g service</strong>. For generating a new service</li>
  <li><strong>ng g class test --type="model"</strong>. For generating a new model</li>
</ul>
<app-conversion-form></app-conversion-form>
<app-result></app-result>
